.update-avatar img{
	cursor: pointer;
	max-width: 130px;
	border:1px solid #d6d6d6;
    border-radius: 50%;
    display: block;
    margin: 0 auto
}

.upload-msg {
    text-align: center;
    font-size: 22px;
    color: #aaa;
    width: 260px;
    margin: 50px auto;
    border: 1px solid #aaa;
}
.upload-demo-wrap {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.croppie-container {
    width: 100%;
    height: 100%;
}
.croppie-container .cr-boundary {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.upload-demo.ready .upload-demo-wrap {
    display: block;
}

.upload-demo .upload-demo-wrap,
.upload-demo .upload-result,
.upload-demo.ready .upload-msg {
    display: none;
}
.upload-demo.ready .upload-demo-wrap {
    display: block;
}
.upload-demo.ready .upload-result {
    display: inline-block;
}
.upload-demo-wrap {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

a.file-btn{
	position: relative;
}
a.file-btn span{
	position: relative;
	z-index: 0;
}
.file-btn input[type="file"] {
	z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
input[type="file"] {
    cursor: pointer;
}

.btn-edit{
    position: absolute;
    top:-45px;
    right: 1px;
    z-index: 1;
    cursor: pointer;
}
.btn-edit i{
	padding-right: 10px;
}
.post-title{
    font-size: 30px;
    margin: : 10px 0;
}
.professional-title{
    font-size: 24px;
    margin: : 10px 0;
}
h3{
    margin-top: 0;
}

.row-section{
    clear: both;
    display: block;
    position: relative;
    padding-bottom:30px;
}
.row-section h2{
	font-size: 19px;
}
.row-section .form-group{
    margin-bottom: 5px;
}
.row-section h2.static {
margin: 0;
}
.row-section h2.static:first-letter{
	text-transform: uppercase;
}
.invisible-default{
	display: none;
}
.is-edit .invisible-default{
	display: block;
}
.chosen-edit-wrap{
	visibility: visible;
	opacity: 0;
	width: 100%;
}
.set-relative{
	position: relative;
}
.is-edit .chosen-edit-wrap{
	opacity: 1;
}
.is-edit .visible-default{
	display: none;
}
#update_profile_meta .col-sm-10{
    height: 35px;
}
.visible-default{
    padding-top: 8px;
}
.video{
    position: relative;
    padding-bottom: 20px;
}

.block form{
    display: none;
}
.block.update form{
    display: block;
}
.block.update iframe,
.block.update .video-container{
    display: none;
}
.modal-portfolio img{
	max-width: 100%;
    max-height: 175px;
}
.modal-portfolio .txt-label img{
	width: 80px;
	clear: both;
}
.modal-portfolio .modal-dialog{
	width: 350px;
}
.wrap-port-img {
    width: 100%;
    height: 190px;
    cursor: pointer;
    overflow: hidden;
    padding-bottom: 15px;
    text-align: center;
    background-color: #fff;
}
form.add-portfolio .modal-body .body-bg {
	background-color: #ccc;
	padding: 20px 0;
	margin-bottom: 0;
}
.wrap-port-img .txt-label {
    font-size: 16px;
    padding-top: 60px;
    display: block;
}
.wrap-port-img .txt-label .glyphicon {
	clear: both;
	display: block;
	font-size: 25px;
}
.wrap-port-img i{
	height: 190px;
	width: 100%;
	line-height: 50%;
}
.frame-add-port{
	text-align: center;
	padding: 20px 0;
}
#thumbnail_id{
	opacity: 0;
	position: absolute;
	bottom: 27px;
}
.port-item{
	position: relative;
}
.btns-act{
    position: absolute;
    top: 6px;
    right: 18px;
    display: none;
}

.port-item:hover .btns-act{
	display: block;
}
.btns-act .btn-sub-act {
    margin-left: 4px;
    background: #fff;
    text-align: center;
    padding: 3px 3px;
    width: 22px;
    height: 23px;
    text-align: center;
    cursor: pointer;
    color: #17a717;
    float: left;
}
.imgareaselect-border1,
.imgareaselect-border2{
	border-width: 1px;
    border-style: dashed;
    border-color: #ccc;
    opacity: 0.7;
}
.img-container{
	text-align: center;
	vertical-align: middle;
	background-color: #ccc;
	padding: 30px 6px;
	position: relative;
}
.img-container img{
	width: 150px;
	height: 150px;
	background: #fff;
}
#modal_avatar .modal-dialog{
	width: 350px;
}
.frm-avatar .btn-upload-avatar {
    padding: 10px;
    display: none;
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 0px;
    font-size: 19px;
}
.img-container:hover .btn-upload-avatar{
	display: block;
}
.modal-content{
	border-radius: 0;
}
.centar-avatar{
	width: 150px;
	height: 150px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.modal-body  h2{
	font-size: 18px;
}
.btn-close{
	background-color: #ccc;
}
.update-profile .chosen-container-single .chosen-single{
	height: 32px;
	border-radius: 0;
	box-shadow: none;
	background: none !important;
}
form.is-edit{

}
.edit-profile-section h2{
	padding-bottom: 15px;
}
.profile-info-section {

}
.site-content{
	background:none !important;
}
.edit-profile-section {
    background: #fff;
    margin-bottom: 30px;
    border-radius: 6px;
    border: 3px solid #e6e6e6;
    padding-bottom: 25px;
    display: block;
    float: left;
}
#list_portfolio{
	padding-top: 50px;
}
.edit-profile-content{
	min-height: 153px;
}
.profile-info-section form .form-group.row{
	min-height: 33px;
}
.edit-em-profile label {
    width: 79;
    float: left;
    min-width: 96px;
    text-align: right;
    padding-right: 10px;
}
.edit-em-profile .form-group{
	clear: both;
	width: 100%;

}
.edit-em-profile .update-avatar{
	text-align: center;
}
.edit-em-profile{
	position: relative;
	background: #fff;

}
.edit-em-profile form .is-edit{
	display: none1;
	opacity: 0;
	position: absolute;
	top:0;
}
.edit-em-profile form.is-edit .is-edit{
	display:block;
	opacity: 1;
	position:relative;
}
.edit-em-profile form.is-edit .is-view{
	display: none;
}
.edit-em-profile .chosen-container{
	width: 100% !important;
}
body .chosen-container-single .chosen-single{
    height: 34px;margin-bottom: 15px;
}


.tgl-flat:checked + .tgl-btn {
    border: 4px solid #7FC6A6;
}
.tgl-flat:checked + .tgl-btn:after{
    content1: "\f00c";
    font-family: 'FontAwesome';
    text-indent: 19px;
    color: #fff;
    font-size: 19px;
}


.tgl-flat + .tgl-btn {
    padding: 2px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background: #fff;
    border: 4px solid #7FC6A6;
    border-radius: 2em;
}

.tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 79px;
    height: 33px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 auto;
}
.tgl {
    display: none;
}
.tgl-flat:checked + .tgl-btn:after {
    left: 50%;
    background: #7FC6A6;
}

.tgl:checked + .tgl-btn:after {
    left: 50%;
}

.tgl-flat + .tgl-btn:after {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background: #989898;
    content1: "\f00d";
    border-radius: 1em;
    font-family: 'FontAwesome';
    text-indent: 19px;
    color: #fff;
    font-size: 19px;
}

.tgl + .tgl-btn:after {
    left: 0;
    top: -21px;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    width: 50%;
    height: 100%;
    content: "";
}
.view-as-other{
    float: right;
    font-size: 15px;
}
.profile-meta-value{
    color: #666;
}
