.page-job-detail.page-job-detail_no-background .page-job-detail__header {
    margin-top: 20px;
}
job-detail.less:83
.page-job-detail__header {
    margin-top: 100px;
}
.page-job-detail__header .box-md {
    padding: 25px 40px;
}


.page-job-detail .box-md {
    padding: 25px 40px;
}

.box-md {
    padding: 32px;
}

.box {
    background: #fff;
    margin-bottom: 15px;
    border: 0;
    box-shadow: 0 0.5px 0 rgba(0,0,0,.1);
}
.page-job-detail__detail {
    font-size: 15px;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.page-job-detail__detail .nav-tabs li.active a {
    border: 0;
    border-bottom: 1px solid #686868;
    font-size: 15px;
    border-bottom: 3px solid #686868;
    font-weight: 600;
}

.page-job-detail__detail .nav-tabs li a {
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    font-size: 13px;
    border: 0;
    line-height: 17px;
    padding: 12px 35px 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #eee;
    color: #424242;
}
.page-job-detail__header .btn-apply {
    margin-bottom: 5px;
    margin-top: 4px;
    font-size: 18px;
    padding: 11px 20px;
}
.page-job-detail__header .btn-apply  a{
    color: #fff;
}
.container_detail{
    background: #fff;
    margin-top: 50px;
    padding:25px  40px;
}
.page-job-detail__header .btn {
    font-size: 15px;
    font-weight: 500;
    padding: 13px 20px;
}

.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}


.btn {
    border: 1px solid transparent;
    padding: 8px 20px;
    line-height: 1.42857143;
    border-radius: 2px;
    font-size: 14px;
    transition: background-color .3s,border-color .3s;
}

.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.page-job-detail__header .btn-save {
    font-weight: 400;
    padding: 9px 20px;
    font-size: 14px;
    margin-top: 2px;
}

.page-job-detail__header .btn {
    font-size: 15px;
    font-weight: 500;
    padding: 13px 20px;
}

.btn-primary.btn-outline {
    color: #F7941D;
    border: 1px solid #F7941D;
}

.btn-primary.btn-outline {
    color: #f7941d;
}
.page-job-detail__header .col-btn.col-btn_saved .job-saved {
    height: 21px;
    opacity: 1;
    margin-top: 15px;
}

.page-job-detail__header .job-saved {
    height: 0;
    opacity: 0;
    margin: 0;
    transition: all .3s;
    padding: 0;
    font-size: 15px;
    color: #b6b6b6;
}
.page-job-detail__header .job-saved i {
    color: #d6d6d6;
    font-size: 20px;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 3px;
}
.text-gray {
    color: #777;
}.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}


.btn {
    border: 1px solid transparent;
    padding: 8px 20px;
    line-height: 1.42857143;
    border-radius: 2px;
    font-size: 14px;
    transition: background-color .3s,border-color .3s;
}

.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.btn-primary {
    color: #fff;
    background-color: #f7941d;
    border-color: #f28809;
}
.btn-outline {
    border-radius: 3px;
    background: 0 0;
}
.page-job-detail__header .job-title {
    font-weight: 500;
    font-size: 27px;
    margin-bottom: 8px;
    font-family: Roboto,Arial,sans-serif;
}

.container h1 {
    margin: 0;
    padding: 0;
}
.page-job-detail__header .company-location a, .page-job-detail__header .company-name a {
    color: #555;
    cursor: text;
}

.text-lg {
    font-size: 16px;
}

.text-primary {
    color: #f7941d;
}
.page-job-detail__header .salary {
    display: block;
    margin-bottom: 2px;
}
.page-job-detail__header .salary strong {
    font-weight: 400;
}
.gray-light {
    color: #999!important;
}
.page-job-detail__detail .box-summary {
    border: 1px solid rgba(0,185,242,.5);
    padding: 23px;
    background-color: #f7fdff;
    border-radius: 3px;
}


.page-job-detail__detail .box-summary .summary-item {
    padding: 12px 0;
    border-bottom: 1px solid rgba(206,211,213,.5);
}
.page-job-detail__detail .box-summary .summary-item:first-child {
    padding-top: 5px;
}
.page-job-detail__detail .box-summary .summary-item:last-child {
    border-bottom: none;
}

.page-job-detail__detail .box-summary .summary-icon {
    width: 35px;
    padding-left: 0;
    padding-top: 3px;
}
.page-job-detail__detail .icon-date-posted {
    background-image: url(https://images.vietnamworks.com/icon/icon-date-posted.png);
    width: 24px;
    height: 24.5px;
}

.page-job-detail__detail .icon {
    vertical-align: middle;
    display: inline-block;
    background: center center no-repeat;
    background-size: 100%;
}

.page-job-detail__detail .box-summary .summary-content {
    padding-left: 0;
    padding-right: 0;
}
.page-job-detail__detail .box-summary .summary-content .content-label {
    text-transform: uppercase;
    color: #949697;
    display: block;
    font-weight: 300;
    font-size: 13px;
}
.content {
    font-size: 1em;
    padding: 0 0 15px;
}
.page-job-detail__detail h2 {
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Roboto,Arial,sans-serif;
    margin-top: 5px;
    margin-bottom: 17px;
}
.page-job-detail__detail .benefits {
    margin-bottom: 45px;
}
.page-job-detail__detail .benefits .benefit {
    margin-bottom: 7px;
}
.page-job-detail__detail .benefits .benefit-icon {
    width: 40px;
    text-align: center;
}
.page-job-detail__detail .benefits .benefit-icon .fa {
    width: 28px;
    height: 28px;
    border: 1px solid #666;
    border-radius: 100%;
    line-height: 28px;
    font-size: 13px;
}
.page-job-detail__detail .benefits .benefit-name {
    padding-top: 5px;
    width: 85%;
}


.side_bar .inside {
    border: solid 2px #f3f3f3;
    padding: 20px;
}
.side_bar .inside .logo {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
    max-width: 100%;
}
.side_bar .inside .logo img {
    padding: 4px 0;
    max-width: 79px;
}
 .side_bar .inside .name {
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 5px;
    text-align: center;
}
.side_bar .inside .name a {
    color: black;
}
.side_bar .inside .employer-info {
    margin: 0 -20px -2px;
    background-color: #F5F5F5;
    padding: 1px 20px 1px;
}
.side_bar .inside .basic-info {
    color: #58595b;
    font-size: 13px;
    line-height: 21px;
}
 .side_bar .inside .basic-info .short {
    padding: 10px 0;
}
.side_bar .inside .employer-jobs-info {
    margin: 0 -20px -20px;
    background-color: #F5F5F5;
    padding: 1px 20px 28px;
}


.side_bar .inside .basic-info .defalt-icon,
.side_bar .inside .basic-info .job .job_content .details .info .globe-icon,
.side_bar .inside .basic-info .globe-icon, .side_bar .inside .basic-info .gear-icon,
.side_bar .inside .basic-info .group-icon,
.side_bar .inside .basic-info .company-content .company-page .name-and-info .globe-icon,
.side_bar .inside .basic-info .globe-icon,
.side_bar .inside .basic-info .company-content .company-review .name-and-info .globe-icon,
.side_bar .inside .basic-info .globe-icon {
    position: relative;
    padding-left: 40px;
    margin: 4px 0;
}

.side_bar .inside .basic-info .defalt-icon::before,
.side_bar .inside .basic-info .job .job_content .details .info .globe-icon::before,
.job .job_content .details .info .side_bar .inside .basic-info .globe-icon::before,
.side_bar .inside .basic-info .gear-icon::before,
.side_bar .inside .basic-info .group-icon::before,
.side_bar .inside .basic-info .company-content .company-page .name-and-info .globe-icon::before,
.company-content .company-page .name-and-info .side_bar .inside .basic-info .globe-icon::before,
.side_bar .inside .basic-info .company-content .company-review .name-and-info .globe-icon::before,
.company-content .company-review .name-and-info .side_bar .inside .basic-info .globe-icon::before {
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    top: -5px;
    left: -5px;
}

.side_bar .inside .basic-info .working-date,
.side_bar .inside .basic-info .overtime{
    margin: 4px 0;
}
.side_bar .inside .more_jobs {
    padding-top: 15px;
}


.flag.flag-ad, .flag.flag-ae, .flag.flag-af, .flag.flag-ag, .flag.flag-ai, .flag.flag-al, .flag.flag-am, .flag.flag-ao, .flag.flag-ar, .flag.flag-as, .flag.flag-at, .flag.flag-au, .flag.flag-aw, .flag.flag-ax, .flag.flag-az, .flag.flag-ba, .flag.flag-bb, .flag.flag-bd, .flag.flag-be, .flag.flag-bf, .flag.flag-bg, .flag.flag-bh, .flag.flag-bi, .flag.flag-bj, .flag.flag-bm, .flag.flag-bn, .flag.flag-bo, .flag.flag-br, .flag.flag-bs, .flag.flag-bt, .flag.flag-bw, .flag.flag-by, .flag.flag-bz, .flag.flag-ca, .flag.flag-cc, .flag.flag-cd, .flag.flag-cf, .flag.flag-cg, .flag.flag-ch, .flag.flag-ci, .flag.flag-ck, .flag.flag-cl, .flag.flag-cm, .flag.flag-cn, .flag.flag-co, .flag.flag-cr, .flag.flag-cu, .flag.flag-cv, .flag.flag-cw, .flag.flag-cx, .flag.flag-cy, .flag.flag-cz, .flag.flag-de, .flag.flag-dj, .flag.flag-dk, .flag.flag-dm, .flag.flag-do, .flag.flag-dz, .flag.flag-ec, .flag.flag-ee, .flag.flag-eg, .flag.flag-er, .flag.flag-es, .flag.flag-et, .flag.flag-fi, .flag.flag-fj, .flag.flag-fk, .flag.flag-fm, .flag.flag-fo, .flag.flag-fr, .flag.flag-ga, .flag.flag-gb, .flag.flag-gd, .flag.flag-ge, .flag.flag-gg, .flag.flag-gh, .flag.flag-gi, .flag.flag-gl, .flag.flag-gm, .flag.flag-gn, .flag.flag-gq, .flag.flag-gr, .flag.flag-gs, .flag.flag-gt, .flag.flag-gu, .flag.flag-gw, .flag.flag-gy, .flag.flag-hk, .flag.flag-hn, .flag.flag-hr, .flag.flag-ht, .flag.flag-hu, .flag.flag-id, .flag.flag-ie, .flag.flag-il, .flag.flag-im, .flag.flag-in, .flag.flag-io, .flag.flag-iq, .flag.flag-ir, .flag.flag-is, .flag.flag-it, .flag.flag-je, .flag.flag-jm, .flag.flag-jo, .flag.flag-jp, .flag.flag-ke, .flag.flag-kg, .flag.flag-kh, .flag.flag-ki, .flag.flag-km, .flag.flag-kn, .flag.flag-kp, .flag.flag-kr, .flag.flag-kw, .flag.flag-ky, .flag.flag-kz, .flag.flag-la, .flag.flag-lb, .flag.flag-lc, .flag.flag-li, .flag.flag-lk, .flag.flag-lr, .flag.flag-ls, .flag.flag-lt, .flag.flag-lu, .flag.flag-lv, .flag.flag-ly, .flag.flag-ma, .flag.flag-mc, .flag.flag-md, .flag.flag-me, .flag.flag-mg, .flag.flag-mh, .flag.flag-mk, .flag.flag-ml, .flag.flag-mm, .flag.flag-mn, .flag.flag-mo, .flag.flag-mp, .flag.flag-mq, .flag.flag-mr, .flag.flag-ms, .flag.flag-mt, .flag.flag-mu, .flag.flag-mv, .flag.flag-mw, .flag.flag-mx, .flag.flag-my, .flag.flag-mz, .flag.flag-na, .flag.flag-nc, .flag.flag-ne, .flag.flag-nf, .flag.flag-ng, .flag.flag-ni, .flag.flag-nl, .flag.flag-no, .flag.flag-np, .flag.flag-nr, .flag.flag-nu, .flag.flag-nz, .flag.flag-om, .flag.flag-pa, .flag.flag-pe, .flag.flag-pf, .flag.flag-pg, .flag.flag-ph, .flag.flag-pk, .flag.flag-pl, .flag.flag-pn, .flag.flag-pr, .flag.flag-ps, .flag.flag-pt, .flag.flag-pw, .flag.flag-py, .flag.flag-qa, .flag.flag-re, .flag.flag-ro, .flag.flag-rs, .flag.flag-ru, .flag.flag-rw, .flag.flag-sa, .flag.flag-sb, .flag.flag-sc, .flag.flag-sd, .flag.flag-se, .flag.flag-sg, .flag.flag-sh, .flag.flag-si, .flag.flag-sk, .flag.flag-sl, .flag.flag-sm, .flag.flag-sn, .flag.flag-so, .flag.flag-sr, .flag.flag-ss, .flag.flag-st, .flag.flag-sv, .flag.flag-sx, .flag.flag-sy, .flag.flag-sz, .flag.flag-tc, .flag.flag-td, .flag.flag-tf, .flag.flag-tg, .flag.flag-th, .flag.flag-tj, .flag.flag-tk, .flag.flag-tl, .flag.flag-tm, .flag.flag-tn, .flag.flag-to, .flag.flag-tr, .flag.flag-tt, .flag.flag-tv, .flag.flag-tw, .flag.flag-tz, .flag.flag-ua, .flag.flag-ug, .flag.flag-us, .flag.flag-uy, .flag.flag-uz, .flag.flag-va, .flag.flag-vc, .flag.flag-ve, .flag.flag-vg, .flag.flag-vi, .flag.flag-vn, .flag.flag-vu, .flag.flag-ws, .flag.flag-ye, .flag.flag-za, .flag.flag-zm, .flag.flag-zw {
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}
.flag.flag-jp {
    background-position: -210px -102px !important;
    width: 24px;
    height: 16px;
}

.side_bar .inside .basic-info p.gear-icon::before{
    content: " ";
}
.side_bar .inside .basic-info p.gear-icon::before {
    background-repeat:  no-repeat;
    background-position:  -59px -5px;
}
.group-icon::before {
    background-repeat:  no-repeat;
    background-position:  -143px -5px;
}


.side_bar .inside .basic-info .country-icon {
    margin: 4px 0;
    display: -webkit-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.side_bar .inside .basic-info .country-icon .country-name{
    padding-left: 15px;
}
.side_bar .inside .basic-info .working-date span,
.side_bar .inside .basic-info .overtime span {
    padding-left: 4px;
}
.side_bar .inside .basic-info .working-date i, .side_bar .inside .basic-info .overtime i {
    margin: 0 17px 0 4px;
}

@media only screen and (min-width: 768px) {

    .page-job-detail__detail .tab-sidebar {
        width: 35%;
        float: left;
    }
    .page-job-detail__detail .tab-main-content {
        width: 65%;
        float: right;
    }
}
.fb-share-button{
    z-index: 1000;
}